.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 92px 24px;
  background-color: aliceblue;
}

.navigation {
  grid-column: 1/2;
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  padding-left: 25px;
  padding-right: 36px;
  gap: 25px;
  list-style: circle;
  font-size: 18px;
  letter-spacing: 0.18px;
}

.navigation-first-item {
  list-style: none;
}

.contacts {
  grid-column: 3/4;
  justify-self: self-end;
  list-style: none;
  padding-right: 25px;
  font-size: 18px;
  line-height: 24.3px; /* 135% */
  letter-spacing: 0.18px;
}

.logo {
  grid-column: 2/3;
  background-image: url(../images/logo-black.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
